@model List<Message>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
<div class="email-list m-t-15">    
    @foreach (var item in Model)
    {       
        <div class="message">
            <a href="/Message/MessageDetailInBox/@item.MessageId">
                <div class="col-mail col-mail-1">
                    <div class="email-checkbox">
                        <input type="checkbox" id="chk2">
                        <label class="toggle" for="chk2"></label>                        
                    </div>
                </div>
                <div class="col-mail col-mail-2 ">
                    <div class="subject">
                        @if (item.IsRead)
                        {
                            @($"{item.SenderMail} - {(string.IsNullOrEmpty(item.MessageDetail) ? "" : (item.MessageDetail.Length > 115 ? item.MessageDetail.Substring(0, 115) + "..." : item.MessageDetail))}")
                        }
                        else
                        {
                            <b>@($"{item.SenderMail} - {(string.IsNullOrEmpty(item.MessageDetail) ? "" : (item.MessageDetail.Length > 115 ? item.MessageDetail.Substring(0, 115) + "..." : item.MessageDetail))}")</b>
                        }                        
                    </div>
                    <div class="date">@item.SendDate.ToString("dd MMM yyyy")</div>                    
                </div>                 
            </a>            
        </div>        
    }
</div>