<div class="mail-list mt-4">
    <a href="/Profile/ProfileDetail" class="list-group-item border-0 p-r-0">
        <i class="fa fa-user font-18 align-middle mr-2"></i>
        Profilim
    </a>
    <a href="/Message/Inbox" class="list-group-item border-0 p-r-0">
        <i class="fa fa-inbox font-18 align-middle mr-2"></i>
        Gelen Mesajlar
        <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.inboxCount</span>
    </a>
    <a href="/Message/SendBox" class="list-group-item border-0 p-r-0">
        <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>
        Gönderilen Mesajlar
        <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.sendboxCount</span>
    </a>
    <a href="/LogIn/LogInUser" class="list-group-item border-0 p-r-0">
        <i class="fa fa-sign-in font-18 align-middle mr-2"></i>
        Giriş Yap
    </a>
    <a href="/Register/CreateUser" class="list-group-item border-0 p-r-0">
        <i class="fa fa-user-plus font-18 align-middle mr-2"></i>
        Kayıt Ol
    </a>
    <a href="/LogIn/LogOutUser" class="list-group-item border-0 p-r-0">
        <i class="fa fa-sign-out font-18 align-middle mr-2"></i>
        Çıkış Yap
    </a>
</div>